mat-sidenav-container {
  height: 100vh;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: #00a843;
  width: 200px;
}

.logo-area {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}